.create-poll-field-short {
    width: 60%;
    height: 10vh;
    background-color: #f2f2f2;
    border: 1px solid #BDBDBD;
    padding: 0 1vw;
    border-radius: 5px;
    outline: none;
    margin: 0 0 7vh 10vw;
    margin-left: 18.5vw;
    margin-right: 18.5vw;


}


.create-poll-field-short:focus {
    border-color: #80bfff;
}
