.poll-result-row {
    font-size: 14px;
    font-weight: normal;
    height: 5vh;
    margin-bottom: 1vh;
}

.poll-result-optionName {
    width: 10vw;
    text-align: left;
}

.poll-result-percentage {
    width: 10vw;
    text-align: right;
}

.poll-result-votes {
    width: 10vw;
    text-align: right;
}

@media only screen and (max-width: 768px) {
    td[class^="poll-result"] {
        width: 20vw;
    }
}