.homepage-vote-popup {
    margin-left: 32.5%;
    display: flex;
    width: 35%;
    height: 5vh;
    align-content: bottom;
}

.homepage-vote-popup input {
    display: inline-block;
    width: 55%;
    height: 100%;
    margin: 0 5% 0 0;
    border: 2px solid #cccccc;
}

.homepage-vote-popup button {
    display: inline-block;
    width: 38%;
    background-color: #FFD51E;
    color: white;
    border: 1px solid #FFD51E;
    border-radius: 5px;
    cursor: pointer;
}

/* Responsive for phone screen */
@media only screen and (max-width: 768px) {
  .homepage-vote-popup {
    width: 50%;
    margin-left: 25%;
  }
}
