@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.hidden {
    visibility: hidden;
}

.login-button {
    display: block;
    width: 36%;
    padding: 2vh 0;
    margin: 1vh 32%;
    border-radius: 50px;
    color: white;
    border-style: none;
}

.login-button:hover {
    filter: brightness(70%);
}

.sign-in-button {
    background-color: #816DFF;
}

.create-account-button {
    background-color: #E981A0;
}

.login-logo {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

@media only screen and (max-width: 768px) {
    .login-button {
        width: 50%;
        margin: 1vh 25%;
    }
}

#view-results-go-home-button {
    background-color: #e981a0;
    border: 1px solid #e981a0;
}

#view-results-audit-button {
    background-color: #816DFF;
    border: 1px solid #816DFF;
}

#view-results-center-content {
    align-content: center;
}

#num-votes {
    font-size: 30px;
}

#view-results-table {
    margin-top: 5vh;
    width: 50vw;
    margin-left: 15vw;
}

#view-results-footers {
    margin-top: 5vh;
    width: 80vw;
    text-align: center;
}

.audit-results {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 14px;
}