.hidden {
    visibility: hidden;
}

.login-button {
    display: block;
    /* Design peeps: I just did what matched with what Dhruv already has.
     * Feel free to change the width and stuff per your wishes */
    width: 40vw;
    padding: 2vh 0;
    margin: 1vh 30vw;
}